* {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}
body {
    font-size: 1.6rem !important;
    font-family: "Poppins", sans-serif !important;
    background: #fffaf5;
}
a {
    text-decoration: none;
}
.container {
    width: 1169px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
:root {
    --height-btn: 56px;
    --primary-color: #ff5b2e;
}
.btn {
    min-width: 131px;
    height: var(--height-btn);
    border-radius: 25px;
    border: 1px solid #000958;
    background: none;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* header */
.header {
    padding: 26px 0;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content {
    padding: 4px 18px;
}
.nav__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
}
.nav__link--active,
.nav__link:hover {
    text-shadow: 0.5px 0 0 #000958;
    color: #000958;
}
.btn-header {
    min-width: 117px;
    height: 50px;
}
.btn-header:hover {
    background: #ff5b2e;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    border: none;
}
.hero-section {
    padding: 74px 0 94px;
}
.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 119px;
}
.hero__column--img {
    position: relative;
}
.hero-cat-01 {
    object-fit: cover;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
}
.hero-cat-02 {
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 302px;
    left: 365px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}
.decor-cicle {
    z-index: -1;
    position: absolute;
    top: 247px;
    right: 359px;
}
.decor-rect {
    z-index: -1;
    position: absolute;
    top: 16px;
    left: 377px;
}
/* hero */
.hero-info__cards {
    z-index: 2;
    position: absolute;
    top: 426px;
    left: 129px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    width: 250px;
    height: 156px;
}
.hero-info__card--item {
    display: flex;
}
.hero-info__card-img {
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.hero-info__card-img-01 {
    background: #fec23f;
}
.hero-info__card-img-02 {
    background: #c6e2fa;
}
.hero-info-br {
    width: 222px;
    height: 4px;
    content: "";
    display: inline-block;
    background: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-info__card--label {
    position: relative;
    margin-left: 9px;
    color: #181e52;

    font-family: Sora;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4rem;
}
.hero-info__card--label::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    display: inline-block;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    background: #f2f2f2;
}
.hero-info__card--label::after {
    position: absolute;
    top: 30px;
    left: 0;
    content: "";
    display: inline-block;
    width: 39px;
    height: 4px;
    border-radius: 10px;
    background: #f2f2f2;
}
.hero__title {
    margin-top: 71px;
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 7.6rem;
}
.hero__decs {
    max-width: 391px;
    margin-top: 24px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
}
.hero-btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}
.hero-btn-primary {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0;

    min-width: 189px;
    height: 60px;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    border: none;
    transition: opacity 0.3s ease;
}

.hero-btn-text {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    transition: 0.3s ease;
}
.icon-hero-right {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;

    transition: transform 0.4s ease, opacity 0.4s ease;
}
.hero-btn-primary:hover .icon-hero-right {
    transform: translateX(50px);
    opacity: 0;
}
.hero-btn-primary:hover .hero-btn-text {
    transform: translateX(20%);
}
.hero-btn-primary:hover {
    opacity: 0.8;
}

.hero__link {
    color: #000958;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.6rem; /* 100% */
    text-decoration-line: underline;
}
.about-section {
    margin-top: 77px;
    padding: 53px 0;
}
.about-container {
    display: flex;
    justify-content: space-between;
}
.about__column--content {
    margin-top: 69px;
    width: 446px;
}
.about__section {
    color: #5e6085;
    font-family: Sora;
    font-weight: 600;
}
.about__title {
    margin-top: 15px;
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
}
.about__desc {
    margin-top: 24px;
    color: #656689;
    font-weight: 400;
    line-height: 3rem;
}
.about__achievements {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 36px;
    row-gap: 34px;
}
.achievement__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__check--icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 4px;

    background: #ff5d31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__img {
    position: absolute;
    left: 23px;
    bottom: 0;
    width: 450px;
    height: 559px;
    object-fit: cover;
}
.about__column--img {
    position: relative;
    width: 494px;
    height: 559px;
}
.about__img--area::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
}
.about__years--dog {
    position: absolute;
    left: 12px;
    top: 133px;
}
.about__years-experience {
    position: absolute;
    left: -92px;
    top: 157px;
    width: 136px;

    padding: 31px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}
.about__years-number {
    color: #fff;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
}
.about__years--text-year {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 14px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}
.about__decor {
    z-index: -1;
    position: absolute;
    top: 157px;
    left: 411px;
}

/* taking */

.taking {
    margin-top: 77px;
    padding: 16px 0 55px;
}
.taking__image {
    position: relative;
}
.taking-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main-taking-image {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.decor__taking--01,
.decor__taking--02,
.decor__taking--03,
.decor__taking--04 {
    position: absolute;
}
.decor__taking--01 {
    top: 268px;
    left: 468px;
}
.decor__taking--02 {
    left: 389px;
    bottom: 439px;
}
.decor__taking--03 {
    left: 377px;
    top: 435px;
}
.decor__taking--04 {
    left: 427px;
    top: 336px;
}
.taking__content--column {
    margin-top: 52px;
}
.taking__title {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
}
.taking__desc {
    margin-top: 24px;
    width: 511px;
    color: #656689;
    font-weight: 400;
    line-height: 3rem;
}
.taking-pet-group {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 52px;
    column-gap: 56px;
}
.taking__pet--title {
    margin-left: 11px;
    color: #48496a;

    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
    white-space: nowrap;
}
.taking-tab-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.taking-pet-group::before {
    position: absolute;
    display: inline-block;
    bottom: -14px;
    content: "";
    width: 557px;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
}
.tab-active {
    position: relative;
}
.tab-active::before {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: -14px;
    width: 95px;
    height: 2px;

    background: #ff5b2e;
}
.taking__subtitle {
    margin-top: 50px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}
.taking__view-more {
    display: block;
    margin-top: 32px;
    position: relative;
    color: #ff5d31;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
}
.taking__view-more::before {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: -5px;
    width: 86px;
    height: 1.5px;

    background: #ff5d31;
}
/* services */
.services {
    margin-top: 130px;
    padding: 68px 100px;
    background: #fff6ed;
}
.services__column {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 24px;
}
.services__header--subtitle {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}
.services__header--title {
    margin-top: 15px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
}
.services__content {
    margin-top: 71px;
    display: grid;
    grid-template-columns: 25% 38% 25%;
    column-gap: 6%;
}
/* service__card */
.service__card {
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service__title {
    position: relative;
    margin-left: 12px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem; /* 100% */
}
.service__title::before {
    position: absolute;
    left: -12px;
    display: inline-block;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}
.service__desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem; /* 171.429% */
}
.service__more-link {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.service__text-link {
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
}
.service__img-link {
    transition: transform 0.3s;
}
.service__more-link:hover .service__img-link {
    transform: translateX(10px);
}

.service__main-image {
    margin-top: 17px;
    position: relative;
    z-index: 1;
}
.service__image {
    width: 440px;
    height: 593px;
    object-fit: cover;
}
.service__main-image::before {
    position: absolute;
    z-index: -1;
    bottom: 74px;
    left: 15px;
    content: "";
    display: inline-block;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service__btn {
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 214px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    color: #ff5b2e;
    transition: all 0.4s;
}
.service__btn:hover {
    background: #ff5b2e;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    border: none;
}
.team-section {
    padding: 130px 0;
}
.member__header--subtitle {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-weight: 600;
}
.member__header--title {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
}
.member-list-team {
    margin-top: 59px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 67px;
}

/* team-member-card */

.member__card--image {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
}
.member-decor {
    width: 266px;
    height: 109px;
    object-fit: cover;
    position: absolute;
}
.member-decor-1,
.member-decor-3 {
    bottom: 5px;
}
.member-decor-2,
.member-decor-4 {
    top: 35px;
}
.member__card--image::before {
    z-index: -1;
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 234px;
    height: 266px;
    border-radius: 129.5px;
}
.team-member-card:nth-child(1) .member__card--image::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.team-member-card:nth-child(2) .member__card--image::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.team-member-card:nth-child(3) .member__card--image::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.team-member-card:nth-child(4) .member__card--image::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.member__role {
    margin-top: 29px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}
.member__name {
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
}
.member__btn {
    margin-top: 48px;
}
.pricing-toggle {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__toggle--title {
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.2rem; /* 119.231% */
}
.pricing__toggle--desc {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 709px;
    color: #656689;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}
.pricing__toggle--btn {
    margin-top: 38px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 276px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
}
.save-15 {
    position: absolute;
    right: -110px;
    bottom: 29px;
}
.toggle-button {
    border: none;
    color: #ff5b2e;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
}
.active-button {
    min-width: 131px;
    color: #fff;
    font-family: Poppins;
    text-align: center;
    font-weight: 700;
    background: #ff5b2e;
    border: none;
}

/* pricing-section */
.pricing-section {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 44px;
}
.pricing__card {
    padding: 30px 26px 43px;
    border-radius: 20px;
    background: #fff;
    width: 302px;
}
.plan-name {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
}
.plan-tagline {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}
.plan-price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.4rem;
    font-weight: 700;
}
.purchase-btn {
    margin-top: 22px;
    min-width: 246px;
    height: 44px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}
.purchase-btn:hover {
    color: #fff;
    background: #ff5b2e;
}
.features-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.feature_img--opacity {
    opacity: 0.4;
}
.feature__text {
    margin-left: 12px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem; /* 100% */
}
.reviews {
    padding: 53px 0 0;
}

.reviews__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}
.reviews__left--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews__btn {
    width: 54px;
    height: 54px;
    border-radius: 54px;
    border: 1.5px solid #ffd1c4;
    color: #ff5b2e;
    background: none;
    transition: background 0.4s, color 0.4s, box-shadow 0.4s;
}
.reviews__btn:hover {
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0 5px 27px 0 rgba(255, 91, 46, 0.3);
}
.reviews__content {
    width: 938px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 115px;
}
.reviews__left--image {
    z-index: 1;
    position: relative;
    width: 274px;
    height: 427px;
}
.reviews__left--image::before {
    z-index: -1;
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 274px;
    height: 350px;
    border-radius: 137px;
    background: #ffda54;
}
.reviews__right--title {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
}
.reviews__right--text {
    margin-top: 24px;
    color: #000;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 155.556% */
}
.reviews__right--desc {
    margin-top: 24px;
    color: #000;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem; /* 155.556% */
}
.reviewer-name {
    position: relative;
    margin-top: 34px;
    margin-left: 24px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
}
.reviewer-name::before {
    position: absolute;
    left: -24px;
    top: 8px;
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
}
.pagination-dots {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.dot {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #ff5b2e;
}
.dot-active {
    width: 72px;
    height: 8px;
    border-radius: 4px;
    background: #ff5b2e;
    border: none;
}
/* blog*/
.blog {
    padding: 130px 0;
}
.blog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__header--title {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.2rem;
}
.blog__header--right-content {
    margin-right: 73px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.blog__header--rightr-text {
    width: 350px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}
.blog__header--rightr-btn {
    margin-top: 24px;
    margin-left: 0;
}
.blog-posts-container {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}
.blog-image-wrapper {
    position: relative;
    width: 358px;
    height: 362px;
    border-radius: 24px 24px 0 24px;
}
.blog__date {
    position: absolute;
    top: 24px;
    left: 36px;
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.blog__image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 322px;
    height: 296px;
    object-fit: cover;
}
.blog-card:nth-child(1) .blog-image-wrapper {
    background: #90ccff;
}
.blog-card:nth-child(2) .blog-image-wrapper {
    background: #ff997e;
}
.blog-card:nth-child(3) .blog-image-wrapper {
    background: #5bd6e2;
}
.blog__title {
    margin-top: 28px;
    color: #000958;

    font-family: Sora;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.4rem;
}
.blog__excerpt {
    margin-top: 16px;
    color: #656689;

    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}
.footer-container {
    width: 100vw;
    padding: 52px 0 0;
    display: grid;
    grid-template-columns: 43% 57%;
}
.footer-left-section {
    padding-left: calc((100vw - 1200px) / 2);
    background: #fff6ed;
}
.footer__logo {
    margin-top: 114px;
}
.footer__send-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 268px;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);

    background: #fff;
}
.email-input {
    padding-left: 22px;
    width: 201px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4rem;
    border: none;
    outline: none;
    background: transparent;
}
.footer__send-email--btn {
    color: #fff;
    width: 45px;
    height: 46px;
    border-radius: 22.5px;
    background: #ff5b2e;
    box-shadow: 0 15px 28px -7px rgba(255, 91, 46, 0.3);
    border: none;
}
.footer__send-email--btn:hover {
    transform: rotate(-25deg);
}
.follow-us-section {
    margin-top: 68px;
}
.follow-us-title {
    color: #000958;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 111.111% */
}
.social-links {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000958;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0 16px 28px -10px rgba(211, 132, 53, 0.33);
}
.social-icon:hover {
    background: #ff5b2e;
    box-shadow: 0 15px 28px -7px rgba(255, 91, 46, 0.3);
    color: #fff;
}
/* footer-right-sections */
.footer-right-sections {
    padding: 52px calc((100vw - 1200px) / 2) 58px 129px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 137px;
    row-gap: 65px;
}
.column-title {
    color: #000958;

    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}
.link-list {
    margin-top: 14px;
}
.link-item {
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 200% */
}
.link-list li:hover a {
    text-decoration: underline;
}
.copyright-bar {
    margin-top: -62px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #656689;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
}
